Repository Apxumekm0p/Eclipse-New-Frontier, pull requests merged in 2025-04, with the labels that each got.

#24 local
  Resources/Locale/ru-RU/_DV/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_NF/job/job-description.ftl
  Resources/Locale/ru-RU/_NF/job/job-names.ftl
  Resources/Locale/ru-RU/_NF/materials/materials.ftl
  Resources/Locale/ru-RU/_NF/medical/components/cloning-console-component.ftl
  Resources/Locale/ru-RU/_NF/reagents/meta/toxins.ftl
  Resources/Locale/ru-RU/administration/commands/forceghost.ftl
  Resources/Locale/ru-RU/components/storage-voice-control-component.ftl
  Resources/Locale/ru-RU/datasets/names/golem.ftl
  Resources/Locale/ru-RU/delivery/delivery-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/fingerprint-reader/fingerprint-reader.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/maps/planet.ftl
  Resources/Locale/ru-RU/markings/scars.ftl
  Resources/Locale/ru-RU/markings/undergarment.ftl
  Resources/Locale/ru-RU/medical/components/cloning-console-component.ftl
  Resources/Locale/ru-RU/nyanotrasen/nyano-jobs.ftl
  Resources/Locale/ru-RU/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/ru-RU/paradox-clone/role.ftl
  Resources/Locale/ru-RU/preferences/ui/markings-picker.ftl
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/base.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/lighting/base_lighting.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/station-events/events/ion-storm.ftl
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Locale/ru-RU/weapons/ranged/gun.ftl
Labels: S: Untriaged, size/M, No C#, FTL

#25 Ивент солнечной вспышки больше не ломает лампочки
  Content.Server/StationEvents/Events/SolarFlareRule.cs
Labels: S: Untriaged, C#, size/S

#29 Create better tools for translation
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/telecomms.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Tools/better_ss14_ru/.gitignore
  Tools/better_ss14_ru/Cargo.lock
  Tools/better_ss14_ru/Cargo.toml
  Tools/better_ss14_ru/common/Cargo.toml
  Tools/better_ss14_ru/common/src/change_guard.rs
  Tools/better_ss14_ru/common/src/lib.rs
  Tools/better_ss14_ru/common/src/prototypes_ftl.rs
  Tools/better_ss14_ru/prototypes_extractor/Cargo.toml
  Tools/better_ss14_ru/prototypes_extractor/src/main.rs
  Tools/better_ss14_ru/ss14_ru_transfer/Cargo.toml
  Tools/better_ss14_ru/ss14_ru_transfer/src/main.rs
Labels: No C#, FTL, size/L
